{% extends 'main.html' %}

{% block content %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');
/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}

#content main .input-text{

	margin-top: 20px;
	display: flex;
	align-items: center;
	height: 36px;

}

#content main .input-text input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--light);
	border-radius: 36px 0 0 36px;
	outline: none;
	max-width: 20%;
	color: var(--dark);
}


#content main .input-text button{
	width: 38px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;


}

#content main .input-text button:active{
	background-color: #8371fd;

}
#content main .input-text .addingurl{

	margin-right: 10px;
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--light);
	border-radius: 36px;
	outline: none;
	max-width: 40%;
	color: var(--dark);


}


#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}
#content main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}



#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
#content main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--blue);
}
#content main .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
    text-align: center;
}
#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
    text-align: center;
}
#content main .box-info li .text p {
	color: var(--dark);	
}





#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
#content main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table td {
	padding: 16px 0;
}
#content main .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#content main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#content main .table-data .order table tbody tr:hover {
	background: var(--grey);
}
#content main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}

#content main .table-data .order table td .edit {
	color: green;
}

#content main .table-data .order table td .delete {
	color: red;
}
#content main .table-data .order table td .delete:hover {
color: var(--blue);

}

/* MAIN */
/* CONTENT */

@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content nav .nav-link {
		display: none;
	}
}






@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show ~ .notification,
	#content nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .order table {
		min-width: 420px;
	}
	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}
}

</style>

<div class="container-fluid">
	<div class="row mb-5">
		<div class="col">
			<div class="card shadow" style="background-color: #10416A; background-size: cover; background-repeat: no-repeat;">
				<div class="card-body">
					<center>
						<h1 style="color: white"><i class="fa-solid fa-link"></i> URL List</h1>
					</center>
				</div>
			</div>
		</div>
	  </div>
    <div class="row">
        <div class="col">
            {% comment %} <span><a href="/addnew" class="btn btn-primary">Add New Record</a></span> {% endcomment %}
            <div class="table-responsive">
            <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
            <thead>
                <th>Control Number</th>
                <th>Rule Set</th>
				<th>Content Class</th>
                <th>Document Type</th>
				<th>Alias</th>
                <th>Source URL</th>
				<th>Frequency of Update</th>
                <th>Frequency Crawl</th>
				<th>Prioritization Comments</th>
            </thead>
            <tbody>
            {% for website in websites %}  
                <tr>  
                <td>{{ website.ctrl_num }}</td>
                <td>{{ website.rule_set }}</td>  
				<td>{{ website.content_class }}</td>
                <td>{{ website.doc_type }}</td>  
				<td>{{ website.al_name }}</td>
                <td>{{ website.src_url }}</td>  
				<td>{{ website.freq_updates }}</td>
                <td>{{ website.freq_crawl }}</td>  
				<td>{{ website.prio_comm }}</td>
                </tr>  
            {% endfor %} 
            </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}